*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  font-family: "OpenSans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  max-width: 117rem;
  min-width: 29rem;
  margin: 0 auto;
}

@media screen and (max-width: 75em) {
  .container {
    margin: 0 1.5rem;
  }
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.body-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
}

.lightbox {
  position: fixed;
  top: -10rem;
  right: -10rem;
  bottom: -10rem;
  left: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(46, 154, 255, 0.5);
  cursor: pointer;
  z-index: 100;
}

.lightbox__img {
  position: relative;
  max-width: 85vw;
  max-height: 85vh;
  border-radius: 1rem;
}

.lightbox__img::before {
  content: '';
  position: absolute;
  top: -4rem;
  left: -4rem;
  bottom: -4rem;
  left: -4rem;
  background-color: #fff;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.logo {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo:focus, .logo:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 10;
}

.btn {
  width: 27rem;
  height: 8rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffb400), to(#ffed26));
  background-image: linear-gradient(to top, #ffb400, #ffed26);
  border: solid 1px #ffc600;
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 0.2rem 2rem 0 #ff990066;
          box-shadow: 0rem 0.2rem 2rem 0 #ff990066;
  cursor: pointer;
}

.btn span {
  display: block;
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}

.btn:focus, .btn:hover {
  -webkit-box-shadow: 0rem 0.2rem 2rem #ff9900;
          box-shadow: 0rem 0.2rem 2rem #ff9900;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37rem;
  height: 44rem;
  background-color: #fff;
  padding: 3rem 0;
  border-radius: 1rem;
}

.form__text {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.form__text span {
  display: block;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.form__input {
  width: 27rem;
  height: 6rem;
  font-size: 2rem;
  color: #d1d1d1;
  text-align: center;
  padding: 2.3rem 0;
  border: 0.1rem solid #d1d1d1;
  border-radius: 1rem;
}

.form__input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

.form__input:-ms-input-placeholder {
  font-size: 1.5rem;
}

.form__input::-ms-input-placeholder {
  font-size: 1.5rem;
}

.form__input::placeholder {
  font-size: 1.5rem;
}

.form__input:focus {
  color: #000;
  outline: none;
  border-color: #000;
}

.form__input:hover {
  border-color: #000;
}

.form__comment {
  font-size: 1.1rem;
  color: #d1d1d1;
}

.form_scale {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form_scale:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 10;
}

.section-title {
  position: relative;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: 50%;
  display: inline-block;
  width: 14rem;
  height: 0.2rem;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #2e9aff), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #2e9aff 50%, transparent 100%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-title_white {
  color: #fff;
}

.section-title_white::after {
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, #ffffff), to(transparent));
  background: linear-gradient(90deg, transparent 0%, #ffffff 50%, transparent 100%);
}

.glazing-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.glazing-tabs__item {
  -ms-flex-preferred-size: 15rem;
      flex-basis: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: underline;
  color: #249ae6;
  cursor: pointer;
}

.glazing-tabs__item:hover {
  color: #000;
}

.glazing-tabs__item_active {
  text-decoration: none;
  color: #000;
}

.glazing-tabs__img {
  margin-bottom: 2rem;
}

.glazing-tabs__btn {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.4;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.glazing-tabs__btn:focus {
  color: #000;
  outline: none;
}

.glazing-tabs-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 45rem;
  height: 25rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tabs-error:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 10;
}

.tabs-error__title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.tabs-error__text {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.tabs-error__comment {
  font-size: 1rem;
  color: #a0a0a0;
}

.tabs-error_gray {
  background-color: #f7f7f7;
}

.wooden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wooden__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 3rem 6rem;
  border-top: 0.5rem solid #000;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(to top, transparent 50%, rgba(0, 0, 0, 0.1));
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wooden__item::before {
  content: '';
  position: absolute;
  top: -0.35rem;
  left: 50%;
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #000;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.wooden__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 10;
}

.wooden__item_cold {
  border-color: #249ae6;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), to(rgba(36, 152, 230, 0.1)));
  background-image: linear-gradient(to top, transparent 50%, rgba(36, 152, 230, 0.1));
}

.wooden__item_cold::before {
  background-color: #249ae6;
}

.wooden__item_warm {
  border-color: #ffb903;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), to(rgba(255, 184, 3, 0.1)));
  background-image: linear-gradient(to top, transparent 50%, rgba(255, 184, 3, 0.1));
}

.wooden__item_warm::before {
  background-color: #ffb903;
}

.wooden__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.wooden__title_cold {
  color: #249ae6;
}

.wooden__title_warm {
  color: #ffb903;
}

.wooden__img {
  margin-bottom: 3rem;
}

.wooden__list {
  min-height: 16rem;
  font-size: 1.4rem;
  padding-left: 4rem;
}

.wooden__list li {
  position: relative;
  margin-bottom: 1rem;
}

.wooden__list li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -4rem;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/checked.svg);
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wooden__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wooden__price span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
}

.wooden__btn {
  height: 6.5rem;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
}

.price span {
  font-size: 1.7rem;
  color: #2e9aff;
}

.price_margin {
  margin-top: 1rem;
}

.interior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interior__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 0 2rem;
}

.interior__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.interior__title {
  min-height: 4rem;
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.colors__preview {
  margin-right: 5rem;
}

.colors__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 40rem;
}

.colors__title {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.colors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colors__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.colors__color {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.colors__color_white {
  background-color: #fff;
}

.colors__color_smoky {
  background-color: #434b5a;
}

.colors__color_creamy {
  background-color: #f8f0d3;
}

.colors__color_lemon {
  background-color: #faf49b;
}

.colors__color_rose {
  background-color: #f8b6b6;
}

.colors__color_green {
  background-color: #d3f8dc;
}

.colors__color_light-gray {
  background-color: #e4e4e4;
}

.colors__color_gray {
  background-color: #878f9f;
}

.colors__color_dark-green {
  background-color: #879f90;
}

.colors__color_beige {
  background-color: #ddd7c2;
}

.colors__text {
  font-size: 1rem;
}

.remote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.remote__preview {
  margin-right: 5rem;
}

.remote__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.remote__text {
  font-weight: bold;
  margin-bottom: 3rem;
}

.remote__item {
  position: relative;
  max-width: 13rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 7rem;
  margin-bottom: 2.2rem;
}

.remote__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -7rem;
  display: inline-block;
  width: 4rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.remote__item_arrow::before {
  background-image: url(../img/remote/double-arrow.svg);
}

.no-webp .remote__item_still::before {
  background-image: url(../img/remote/still.png);
}

.webp .remote__item_still::before {
  background-image: url(../img/remote/still.webp);
}

.remote__item_thermometr::before {
  background-image: url(../img/remote/thermometr.svg);
}

.installation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.installation__preview {
  margin-right: 5rem;
}

.installation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.installation__text {
  font-weight: bold;
  margin-bottom: 2rem;
}

.installation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.installation__img {
  margin-right: 2rem;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 26rem;
  height: 16rem;
  font-weight: bold;
  background-color: #fff;
  padding: 2rem;
  border: 0.1rem solid #d1d1d1;
  border-radius: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.countdown:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 10;
}

.countdown__title {
  text-transform: uppercase;
}

.countdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.countdown__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: #fff;
  background-color: #000;
  -webkit-transform: rotateY(40deg);
          transform: rotateY(40deg);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.countdown__text {
  font-size: 1.3rem;
  text-transform: lowercase;
}

.map {
  display: inline-block;
  width: 57rem;
  height: 47rem;
  background-color: #d1d1d1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.map:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 10;
}

.modal {
  position: fixed;
  top: -10rem;
  right: -10rem;
  bottom: -10rem;
  left: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(46, 154, 255, 0.5);
  z-index: 100;
}

.modal__close {
  position: absolute;
  top: -8rem;
  right: 0;
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
}

.callback {
  display: none;
}

.cost {
  display: none;
}

.error {
  display: none;
}

.error__body {
  position: relative;
  top: -13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 37rem;
  height: 18rem;
  background-color: #fff;
  padding: 3rem 0;
  border-radius: 1rem;
}

.error__title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.error__text {
  max-width: 27rem;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  color: #333333;
}

.top__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__text {
  max-width: 22rem;
  font-size: 1.4rem;
  color: #2e9aff;
  margin-left: 2rem;
}

.top__btn {
  position: relative;
  max-width: 17rem;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #55a831;
  background-color: transparent;
  padding: 1.3rem 1.5rem 1.3rem 6rem;
  border: 0.2rem solid #55a831;
  border-radius: 1rem;
}

.top__btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1.5rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-size: contain;
  background-image: url(../img/top/measure.svg);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top__btn:focus, .top__btn:hover {
  color: #fff;
  background-color: #55a831;
  outline: none;
}

.top__btn:focus::before, .top__btn:hover::before {
  background-image: url(../img/top/measure-white.svg);
}

.top__working-hours {
  position: relative;
  text-transform: lowercase;
}

.top__working-hours::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -4rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url(../img/top/clock.svg);
  background-size: contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top__working-hours span {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
}

.top__number {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 2.3rem;
  font-weight: bold;
  text-align: right;
}

.top__number::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: -3rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url(../img/top/phone-call.svg);
  background-size: contain;
}

.top__callback {
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
  text-decoration: underline;
  color: #2e9aff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.top__callback:focus, .top__callback:hover {
  color: #000;
  outline: none;
}

.title-page {
  background-color: #525252;
  background-position: center;
  background-size: cover;
}

.title-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11rem 0;
}

.title-page__text {
  font-size: 2.6rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 15rem;
}

.title-page__text span {
  display: block;
  font-size: 5.5rem;
  margin-top: 2rem;
}

.title-page__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-page__feature {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11rem;
  height: 11rem;
  background-color: #2e9aff;
  border-radius: 50%;
  margin-right: 2rem;
}

.title-page__feature::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -1.5rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.no-webp .title-page__feature::before {
  background-image: url(../img/title-page/quality.png);
}

.webp .title-page__feature::before {
  background-image: url(../img/title-page/quality.webp);
}

.title-page__feature p {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-stretch: condensed;
  -webkit-transform: translateY(15%) rotateY(38deg);
          transform: translateY(15%) rotateY(38deg);
}

.title-page__feature_time::before {
  left: 47%;
}

.no-webp .title-page__feature_time::before {
  background-image: url(../img/title-page/time.png);
}

.webp .title-page__feature_time::before {
  background-image: url(../img/title-page/time.webp);
}

.no-webp .title-page__feature_calendar::before {
  background-image: url(../img/title-page/calendar.png);
}

.webp .title-page__feature_calendar::before {
  background-image: url(../img/title-page/calendar.webp);
}

.no-webp .title-page__feature_truk::before {
  background-image: url(../img/title-page/truck.png);
}

.webp .title-page__feature_truk::before {
  background-image: url(../img/title-page/truck.webp);
}

.no-webp .title-page {
  background-image: url(../img/title-page/bg.jpg);
}

.webp .title-page {
  background-image: url(../img/title-page/bg.webp);
}

.glazing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 0 12rem;
}

.glazing__tabs {
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.finishing {
  background-color: #f7f7f7;
  padding: 7rem 0;
}

.finishing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.finishing__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

.finishing__tab {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 0.15rem solid #ebebeb;
}

.finishing__tab:last-child {
  border-right: none;
}

.finishing__btn {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.finishing__btn:focus, .finishing__btn:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#e5e5e5));
  background-image: linear-gradient(to top, transparent, #e5e5e5);
  outline: none;
}

.finishing__tab_active {
  position: relative;
  color: #2e9aff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#e5e5e5));
  background-image: linear-gradient(to top, transparent, #e5e5e5);
  padding-bottom: 1rem;
  border-top: 1rem solid #2e9aff;
}

.finishing__tab_active::before {
  content: '';
  position: absolute;
  top: -0.8rem;
  left: 50%;
  display: inline-block;
  border: 0.8rem solid transparent;
  border-bottom-color: #2e9aff;
  border-right-color: #2e9aff;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.finishing__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finishing__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.finishing__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 10;
}

.finishing__tabs-error {
  margin-left: 15rem;
}

.finishing__form {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.our-jobs {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 7rem 0 5rem;
}

.our-jobs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10rem;
}

.our-jobs__item {
  position: relative;
  width: 27rem;
  height: 27rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

.our-jobs__item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  background-image: url(../img/zoom.svg);
  background-size: contain;
  -webkit-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}

.our-jobs__btn {
  width: inherit;
  height: inherit;
  background-color: transparent;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.our-jobs__btn:focus, .our-jobs__btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  z-index: 10;
  outline: none;
}

.our-jobs__btn picture {
  width: inherit;
  height: inherit;
}

.our-jobs__img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.features {
  background-color: #2e9aff;
}

.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 7rem;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 10rem;
}

.features__item {
  -ms-flex-preferred-size: 33.333333333333333%;
      flex-basis: 33.333333333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 7rem;
}

.features__img {
  height: 8rem;
  width: auto;
  margin-bottom: 2rem;
}

.features__text {
  max-width: 18rem;
}

.payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 7rem 0;
}

.payment__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 7rem;
}

.payment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__img {
  width: 7rem;
  margin-right: 2rem;
}

.payment__text {
  font-size: 2rem;
}

.discount {
  background-color: #d1d1d1;
  background-position: center;
  background-size: cover;
}

.discount__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8rem 0;
}

.discount__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.discount__title {
  font-size: 5rem;
  color: #2e9aff;
  text-transform: uppercase;
}

.discount__text {
  font-size: 2.5rem;
}

.no-webp .discount {
  background-image: url(../img/discount/bg.jpg);
}

.webp .discount {
  background-image: url(../img/discount/bg.webp);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 7rem 0;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10rem;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__item {
  max-width: 46rem;
}

.contacts__title {
  color: #2e9aff;
  margin-bottom: 1rem;
}

.contacts__text {
  font-size: 1.8rem;
  font-weight: bold;
}

.specialist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  background-color: #2e9aff;
  padding: 7rem 0;
}

.specialist__text {
  color: #fff;
  margin-right: 4rem;
}

.specialist__btn {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.specialist__btn:focus, .specialist__btn:hover {
  color: #1d71a8;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.footer__links {
  text-align: right;
}

.footer__tel {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.footer__mail {
  color: #2e9aff;
  -webkit-text-decoration-color: #2e9aff;
          text-decoration-color: #2e9aff;
}
/*# sourceMappingURL=styles.css.map */