.features
  background-color: $active-color

  &__body
    display: flex
    flex-flow: column nowrap
    padding-top: 7rem

  &__list
    display: flex
    flex-flow: row wrap

  &__item
    flex-basis: 33.333333333333333%
    display: flex
    flex-flow: column nowrap
    align-items: center
    text-align: center
    font-size: 1.7rem
    font-weight: bold
    color: #fff
    margin-bottom: 7rem

  &__img
    height: 8rem
    width: auto
    margin-bottom: 2rem

  &__text
    max-width: 18rem