.finishing
  background-color: #f7f7f7
  padding: 7rem 0

  &__body
    display: flex
    flex-flow: column nowrap

  &__slider
    margin-top: 5em
    margin-bottom: 2.5em
    cursor: pointer

  &__tabs
    display: flex
    height: 4.5em
    font-size: 2rem

    @media screen and (max-width: 900px)
      font-size: 1.6rem    

    @media screen and (max-width: 400px)
      font-size: 1.4rem

  &__tab 
    flex-basis: 25%
    display: flex
    justify-content: center
    align-items: center
    border-right: 0.075em solid lighten($gray, 10%)

    &:last-child
      border-right: none

  &__btn
    width: 100%
    height: 100%
    font-size: 1em
    font-weight: bold
    text-transform: uppercase
    color: inherit
    background-color: transparent
    border: none
    cursor: pointer

    &:focus,
    &:hover
      background-image: linear-gradient(to top, transparent, lighten($gray, 8%))
      outline: none

  &__tab_active
    position: relative
    color: $active-color
    background-image: linear-gradient(to top, transparent, lighten($gray, 8%))
    padding-bottom: 0.5em
    border-top: 0.5em solid $active-color

    &::before
      content: ''
      position: absolute
      top: -0.4em
      left: 50%
      display: inline-block
      border: 0.4em solid transparent
      border-bottom-color: $active-color
      border-right-color: $active-color
      transform: translateX(-50%) rotate(45deg)

  &__row
    display: flex
    justify-content: space-between
    align-items: center

    @media screen and (max-width: 1100px)
      flex-flow: column nowrap

  &__content
    width: 100%

  &__item
    transition: all 0.3s
    font-size: 2rem

    @media screen and (min-width: 1100px)
      &:hover
        transform: scale(1.02)
        z-index: 10

    // @media screen and (max-width: 900px)
      // font-size: 1.6rem
      

  &__preview
    transition: all 0.3s

    @media screen and (max-width: 1100px)
      flex-shrink: 0
      &:hover
        transform: scale(1.02)
        z-index: 10

  &__tabs-error
    margin-left: 15rem

  &__form
    flex-shrink: 0

    @media screen and (max-width: 600px)
      font-size: 4.5vw

  @media screen and (max-width: 1100px) and (min-width: 600px)
    &__form
      max-width: 40em
      margin: 0 2em

    &__text
      text-transform: uppercase

      span
        display: inline
        font-size: 1em

    &__input
      width: 49%

    &__form-btn
      padding: 0.8em 0

    &__comment
      font-size: 0.8em