.footer
  display: flex
  justify-content: space-between
  align-items: center
  padding: 4rem 0

  &__links
    text-align: right

  &__tel
    font-size: 1.8rem
    font-weight: bold
    color: #000
    text-decoration: none

  &__mail
    color: $active-color
    text-decoration-color: $active-color