.glazing
  display: flex
  flex-direction: column
  font-size: 2rem
  padding: 4em 0 5em

  @media screen and (max-width: 1000px)
    font-size: 1.5rem

  &__slider
    margin: 5.56em 0 2.23em

    @media screen and (max-width: 800px)
      margin: 5em 0 4em