.title-page
  background-color: #525252
  background-position: center
  background-size: cover

  &__body
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding: 11rem 0
    transition: all 0.3s

    @media screen and (max-width: 1000px)
      padding: 8rem 0

    @media screen and (max-width: 800px)
      padding: 6rem 0

    @media screen and (max-width: 720px)
      flex-flow: column nowrap
      align-items: center

  &__text
    font-size: 2.6rem
    font-weight: bold
    color: $text-color
    margin-bottom: 5.77em
    transition: all 0.3s

    @media screen and (max-width: 1000px)
      font-size: 2.3rem

    @media screen and (max-width: 800px)
      font-size: 2.1rem

    @media screen and (max-width: 720px)
      font-size: 4vw
      text-align: center
      margin-bottom: 3em

    span
      display: block
      font-size: 2.13em
      margin-top: 0.3em

  &__features
    display: flex

    @media screen and (max-width: 720px)
      justify-content: space-between

  &__feature
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 7.33em
    height: 7.33em
    font-size: 1.5rem
    background-color: $active-color
    border-radius: 50%
    margin-right: 2rem
    transition: all 0.3s

    @media screen and (max-width: 1000px)
      font-size: 1.2rem

    @media screen and (max-width: 800px)
      font-size: 1rem

    @media screen and (max-width: 720px)
      font-size: 2.5vw
      margin-bottom: 5em

    &:last-child
      margin-right: 0

    &::before
      content: ''
      position: absolute
      left: 50%
      top: -1em
      display: inline-block
      width: 3.33em
      height: 3.33em
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      transform: translateX(-50%)

    .no-webp &::before
      background-image: url(../img/title-page/quality.png)

    .webp &::before
      background-image: url(../img/title-page/quality.webp)

    p
      text-align: center
      font-weight: bold
      text-transform: uppercase
      color: #fff
      font-stretch: condensed;
      transform: translateY(15%) rotateY(38deg)

  &__feature_time::before
    left: 47%

  .no-webp &__feature_time::before
    background-image: url(../img/title-page/time.png)

  .webp &__feature_time::before
    background-image: url(../img/title-page/time.webp)

  .no-webp &__feature_calendar::before
    background-image: url(../img/title-page/calendar.png)

  .webp &__feature_calendar::before
    background-image: url(../img/title-page/calendar.webp)
  
  .no-webp &__feature_truk::before
    background-image: url(../img/title-page/truck.png)

  .webp &__feature_truk::before
    background-image: url(../img/title-page/truck.webp)

  &__form
    @media screen and (max-width: 1000px)
      font-size: 1.7rem

    @media screen and (max-width: 800px)
      font-size: 1.5rem

    @media screen and (max-width: 720px)
      font-size: 2rem

    @media screen and (max-width: 450px)
      font-size: 1.7rem

.no-webp .title-page
  background-image: url(../img/title-page/bg.jpg)

  @media screen and (max-width: 800px)
    background-image: url(../img/title-page/bg-sm.jpg)

.webp .title-page
  background-image: url(../img/title-page/bg.webp)

  @media screen and (max-width: 800px)
    background-image: url(../img/title-page/bg-sm.webp)