.top
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1.5rem 0
  color: $text-color

  &__logo
    display: flex
    align-items: center

  &__text
    max-width: 22rem
    font-size: 1.4rem
    color: $active-color
    margin-left: 2rem

  &__btn
    position: relative
    max-width: 17rem
    text-align: left
    font-weight: bold
    text-transform: uppercase
    color: #55a831
    background-color: transparent
    padding: 1.3rem 1.5rem 1.3rem 6rem
    border: 0.2rem solid #55a831
    border-radius: 1rem

    &::before
      content: ''
      position: absolute
      top: 50%
      left: 1.5rem
      display: inline-block
      width: 3rem
      height: 3rem
      background-size: contain
      background-image: url(../img/top/measure.svg)
      transform: translateY(-50%)

    &:focus,
    &:hover
      color: #fff
      background-color: #55a831
      outline: none

      &::before
        background-image: url(../img/top/measure-white.svg)


  &__working-hours
    position: relative
    text-transform: lowercase

    &::before
      content: ''
      position: absolute
      top: 50%
      left: -4rem
      display: inline-block
      width: 3rem
      height: 3rem
      background-image: url(../img/top/clock.svg)
      background-size: contain
      transform: translateY(-50%)


    span
      display: block
      font-size: 1.8rem
      font-weight: bold

  &__number
    position: relative
    display: flex
    flex-flow: column nowrap
    font-size: 2.3rem
    font-weight: bold
    text-align: right

    &::before
      content: ''
      position: absolute
      top: 0.5rem 
      left: -3rem
      display: inline-block
      width: 2rem
      height: 2rem
      background-image: url(../img/top/phone-call.svg)
      background-size: contain

  &__callback
    display: block
    font-size: 1.6rem
    font-weight: normal
    text-decoration: underline
    color: $active-color
    background-color: transparent
    border: none
    cursor: pointer
    margin-top: 1rem

    &:focus,
    &:hover
      color: #000
      outline: none