.btn
  width: 100%
  font-size: 2rem
  font-weight: bold
  text-transform: uppercase
  background-image: linear-gradient(to top, #ffb400, #ffed26)
  padding: 1.5em 0
  border: solid 0.1rem #ffc600
  border-radius: 1rem
  box-shadow: 0rem 0.2rem 2rem 0 #ff990066
  cursor: pointer

  span
    display: block
    transform: rotateY(45deg)

  &:focus,
  &:hover
    box-shadow: 0rem 0.2rem 2rem #ff9900
    transition: all 0.3s
    outline: none