.error
  display: none

  &__body
    position: relative
    display: flex
    flex-flow: column nowrap
    font-size: 3rem
    align-items: center
    text-align: center
    background-color: #fff
    padding: 1.17em 1.66em
    border-radius: 0.33em
    transition: all 0.3s

    @media screen and (max-width: 28.12500em)
      font-size: 7vw

  &__close
    top: -1.25em
    font-size: 2em

  &__title
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 1em

  &__text
    width: 100%
    max-width: 18em
    font-size: 0.5em