.form
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-around  
  align-items: center
  font-size: 2rem
  text-align: center
  background-color: #fff
  padding: 2em 2.5em
  border-radius: 0.5em

  @media screen and (max-width: 450px)
    font-size: 1.8rem

  &__text
    font-weight: bold
    margin-bottom: 1.5em

    span
      display: block
      font-size: 1.2em
      text-transform: uppercase

  &__input
    width: 100%
    max-width: 27rem
    color: $gray
    font-size: 0.75em
    text-align: center
    padding: 1.3em 0
    border: 0.1rem solid $gray
    border-radius: 0.5em
    margin-bottom: 1em


    &::placeholder
      font-size: 1em

    &:focus
      color: #000
      outline: none
      border-color: #000

    &:hover
      border-color: #000

  &__btn
    font-size: 1em
    margin-bottom: 1em
  
  &__comment
    font-size: 0.55em
    color: $gray

.form_scale
  transition: all 0.3s

  &:hover
    transform: scale(1.02)
    z-index: 10