.glazing-tabs
  display: flex
  justify-content: space-between
  transition: all 0.3s
  font-size: 1.8rem
      
  @media screen and (max-width: 1000px)
    font-size: 1.6rem

  &__item
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    text-decoration: underline
    color: #249ae6
    cursor: pointer
    transition: all 0.3s  

  &__item_active
    color: #000

  &__img
    width: 5.56em
    height: 5.56em
    margin-bottom: 1.11em

  &__btn
    max-width: 8.33em 
    font-size: 1em
    font-weight: bold
    line-height: 1.4em
    color: inherit
    background-color: transparent
    border: none
    cursor: pointer

.glazing-tabs_margin
  // margin: 5.56em 0 2.23em