.glazing-tabs
  display: flex
  justify-content: space-around

  &__item
    flex-basis: 15rem
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    text-decoration: underline
    color: #249ae6
    cursor: pointer

    &:hover
      color: #000

  &__item_active
    text-decoration: none
    color: #000

  &__img
    margin-bottom: 2rem

  &__btn
    font-size: 1.8rem
    font-weight: bold
    line-height: 1.4
    color: inherit
    background-color: transparent
    border: none
    cursor: pointer

    &:focus
      color: #000
      outline: none