.interior
  display: flex
  justify-content: space-between
  align-items: center

  @media screen and (max-width: 50em) and (min-width: 37.5em)
    margin-bottom: 3em

  &__preview
    max-width: 13.5em

    @media screen and (max-width: 50em)
      max-width: 10em

    @media screen and (max-width: 37.5em)
      display: none

    img
      width: 100%

  &__list
    flex-shrink: 5
    display: flex
    flex-flow: row wrap
    padding: 0 2rem

    @media screen and (max-width: 68.75em)
      padding: 0
      margin-left: 2em

    @media screen and (max-width: 50em)
      height: 15em
      overflow-y: auto

    @media screen and (max-width: 37.5em)
      height: auto
      margin-left: 0
      overflow-y: visible

  &__img
    max-width: 3.5em

    img
      width: 100%

  &__item
    flex-basis: 28%
    display: flex
    flex-flow: column nowrap
    align-items: center
    min-width: 5em
    text-align: center
    margin-bottom: 3em
    margin-right: 5%
    transition: all 0.3s


    @media screen and (max-width: 68.75em)
      flex-basis: 20%
      font-size: 1.1em
    
      &:hover
        transform: scale(1.2)
        z-index: 10

    @media screen and (max-width: 50em)
      flex-basis: 48%
      margin-right: 0
      margin-bottom: 2em
        
      &:nth-child(odd)
        margin-right: 4%

    @media screen and (max-width: 37.5em)
      &:hover
        transform: scale(1)

  &__title
    max-width: 8em
    min-height: 2.8em
    font-size: 0.7em

  &__price
    font-size: 0.5em