.modal
  position: fixed
  top: -10rem
  right: -10rem
  bottom: -10rem
  left: -10rem
  display: flex
  justify-content: center
  align-items: center
  background-color: rgba($active-color, 0.5)
  z-index: 100
  
  &__close
    position: absolute
    top: -8rem
    right: 0
    font-size: 6rem
    color: #fff
    cursor: pointer