.slider
  position: relative

  &__track
    overflow: hidden
    justify-content: flex-start
    margin-right: 3.89em
    margin-left: 3.89em

    @media screen and (max-width: 500px)
      margin-right: 3.5em
      margin-left: 3.5em

  &__item
    flex-basis: auto
    flex-shrink: 0;
    transition: all 0.3s

  &__buttons
    display: none

  &__prev,
  &__next
    position: absolute
    top: 50%
    display: flex
    justify-content: center
    align-items: center
    width: 1em
    height: 50%
    font-size: 3.89em
    font-weight: bold
    color: rgba($active-color,0.7)
    background-color: transparent
    border: none
    border-radius: 10%
    transform: translateY(-50%)
    cursor: pointer

    @media screen and (max-width: 500px)
      font-size: 3em

  &__prev
    left: 0
  
  &__next
    right: 0

  &__prev_blue,
  &__next_blue
    color: #fff
    background-color: $active-color;