.tabs-error
  display: flex
  flex-flow: column nowrap
  align-items: center
  text-align: center
  max-width: 22.5em
  font-size: 2rem
  background-color: #fff
  padding: 1.5em 
  border-radius: 0.5em
  transition: all 0.3s

  @media screen and (max-width: 31.25em)
    font-size: 1.6rem

  &:hover
    transform: scale(1.02)
    z-index: 10

  &__title
    font-size: 2em
    font-weight: bold
    text-transform: uppercase
    margin-bottom: 1em

  &__text
    margin-bottom: 1.5em

  &__comment  
    font-size: 0.5em
    color: #a0a0a0

.tabs-error_gray
  background-color: #f7f7f7